<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body class="home page page-id-2335 page-template-default template-slider  color-custom style-default layout-full-width nice-scroll-on mobile-tb-left no-content-padding hide-love header-overlay header-transparent sticky-header sticky-white ab-hide subheader-both-center footer-copy-center">

    <!-- Menu -->
    <%- partial('_partial/menu') %>

    <div>
        <!-- Blog Header -->
        <%- partial('_partial/header') %>
    </div>

    <!-- Main Content -->
    <div id="Content">
        <%- body %>
    </div>


    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>

</html>